.contact-info {
  text-align: center;
  border-bottom: 1px solid #edeff1;
}

@media screen and (min-width: 768px) {
  .contact-info .contact-info__address {
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 0;
    text-align: left;
  }

  .contact-info .contact-info__social-media {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 13px;
    text-align: right;
  }
}
