@font-face {
  font-family: 'HarmoniaSansProCyr';
  src: url('./fonts/HarmoniaSansProCyr-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/HarmoniaSansProCyr-Light.otf') format('opentype'), url('./fonts/HarmoniaSansProCyr-Light.woff') format('woff'), url('./fonts/HarmoniaSansProCyr-Light.ttf') format('truetype'), url('./fonts/HarmoniaSansProCyr-Light.svg#HarmoniaSansProCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr';
  src: url('./fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/HarmoniaSansProCyr-Regular.otf') format('opentype'), url('./fonts/HarmoniaSansProCyr-Regular.woff') format('woff'), url('./fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'), url('./fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr';
  src: url('./fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'), url('./fonts/HarmoniaSansProCyr-SemiBd.otf') format('opentype'), url('./fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'), url('./fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'), url('./fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr';
  src: url('./fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/HarmoniaSansProCyr-Bold.otf') format('opentype'), url('./fonts/HarmoniaSansProCyr-Bold.woff') format('woff'), url('./fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'), url('./fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr';
  src: url('./fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/HarmoniaSansProCyr-Black.otf') format('opentype'), url('./fonts/HarmoniaSansProCyr-Black.woff') format('woff'), url('./fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'), url('./fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
