@import 'base';
@import '~normalize.css/normalize';
@import './fonts';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $HarmoniaSans;
  font-size: 16px;
  color: $defaultColor;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// not decorated a tag
.not-decorated-link {
  &, &:active, &:focus, &:hover, &:visited, &:active:hover{
    color: currentColor;
    text-decoration: none;
  }
}
